-#  This file is app/views/movies/index.html.haml
%head
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{colName == 'title' ? {class: hilite} : {}}
        %a#title_header{:href => movies_path({:sortBy => 'title'})} Movie Title
      %th Rating
      %th{colName == 'releaseDate' ? {class: hilite} : {}}
        %a#release_date_header{:href => movies_path({:sortBy => 'releaseDate'})} Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
